@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome, gamer</h1>

<a href="/login" class="btn btn-primary btn-lg">Login</a> <!-- Button to navigate to the login page -->
<a href="/signup" class="btn btn-secondary btn-lg ms-3">Sign Up</a>